In [6]:
import pandas as pd
_a=2
type(_a)
float_a=1.25
type(float_a)

float

In [4]:
print(10>9)

True

In [2]:
number = 40
print(str(number), "euros")
print(str(number), "usd")
print(str(number), "ksh")
list_a = ['Yuting','John','Karina','Rahul']
list_b = ['Francis','Erick','Kazola','Manu']
print(list_a)
print(list_b)
list_a[2]
list_b[3]
list_a[-3]
list_c = [1,2,3]
list_d = ['a',1.25,'b','True']
print(list_c)
print(list_d)
list_e = [list_a, list_b, 'a', 1.23, True]
print(list_e)
list_f = list_a+list_b+list_c
print(list_f)

40 euros
40 usd
40 ksh
['Yuting', 'John', 'Karina', 'Rahul']
['Francis', 'Erick', 'Kazola', 'Manu']
[1, 2, 3]
['a', 1.25, 'b', 'True']
[['Yuting', 'John', 'Karina', 'Rahul'], ['Francis', 'Erick', 'Kazola', 'Manu'], 'a', 1.23, True]
['Yuting', 'John', 'Karina', 'Rahul', 'Francis', 'Erick', 'Kazola', 'Manu', 1, 2, 3]

In [18]:
list_a.sort()
list_b.sort()

list_a.sort(reverse=True)

list_a.append('Rossie')

list_a[1]='Rossie'

del list_a[3]
print(list_a)
list_a.append('Kamau')

['Yuting', 'Rossie', 'Rossie', 'Kamau', 'Kamau', 'Kamau', 'Rossie']

In [45]:
list_a=['John','Max','Elvis','Lewis']
print(list_a)

['John', 'Max', 'Elvis', 'Lewis']

In [74]:
list_a.sort(reverse=True)
print(list_a)
list_a.append('Edwin')
print(list_a)
list_a[-1]='Edwin'
print(list_a)

['Max']
['Max', 'Edwin']
['Max', 'Edwin']

In [53]:
print(list_a)

['Max', 'John', 'Elvis', 'Edwin', 'Edwin', 'Edwin', 'Edwin', 'Edwin']

In [75]:
print(list_a)

['Max', 'Edwin']

In [78]:
print(list_b)
list_b.append('Rosie')
print(list_b)

['Erick', 'Rosie']
['Erick', 'Rosie', 'Rosie']

In [79]:
print(list_b)

['Erick', 'Rosie', 'Rosie']

In [30]:

list_b.append('Kam')
list_b(2) = str('Erick')

TypeError: 'list' object is not callable

In [102]:

list_d

['a', 'b', 'True']

In [104]:
list_d

list_d

list_d

['a', 'b', 'True']

#Tuples

In [108]:
turple_a = (1,2,3)
turple_a
turple_b = ('a','b','c')
turple_b

('a', 'b', 'c')

In [110]:
turple_c = list_d,list_c,turple_a
turple_c

(['a', 'b', 'True'], [5], (1, 2, 3))

In [112]:
turple_d = turple_a+turple_b
turple_d

(1, 2, 3, 'a', 'b', 'c')

Dictionaries

In [120]:
dict_a = {'first_name': 'Edwin', 'last_name': 'Mugo','age':25}
dict_a['first_name']

'Edwin'

In [129]:
store = ['store_A','store_B','store_c','store_d','store_e']
sales = [100, 200, 300, 400, 500, 600]
print(store)
print(sales)
dict_sales ={'store':store,'sales':sales}
dict_sales

['store_A', 'store_B', 'store_c', 'store_d', 'store_e']
[100, 200, 300, 400, 500, 600]

{'store': ['store_A', 'store_B', 'store_c', 'store_d', 'store_e'],
 'sales': [100, 200, 300, 400, 500, 600]}

In [131]:
dict_sales.items()

dict_items([('store', ['store_A', 'store_B', 'store_c', 'store_d', 'store_e']), ('sales', [100, 200, 300, 400, 500, 600])])

In [140]:
10%3

1

In [144]:
2**5

32

Logical Operators

In [147]:
#And
x=0
x>1 and x>3

False

Packages

In [150]:
import math

In [153]:
math.sqrt(100)
import math as mkt
mkt.sqrt(81)

9.0

In [155]:
from math import sqrt
sqrt(100)

10.0

In [157]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [11]:
x = 3
if x<2:
    print('LGBTQ')
customer_01 = 10
if customer_01 > 15:
    print('high')
else:
    print('low')

low

In [17]:
customer_a = 5
customer_b = 10
customer_c = 15

#customer_a
if customer_a > 10:
    print('High')
elif customer_a < 10:
    print('Low')
else:
    print('Medium')
    
    
#customer_b
if customer_b > 10:
    print('High')
elif customer_b < 10:
    print('Low')
else:
    print('Medium')
    
#customer_c
if customer_c > 10:
    print('High')
elif customer_c < 10:
    print('Low')
else:
    print('Medium')

Low
Medium
High

In [26]:
customer_list = [5,10,15]

for i_customer in customer_list:
    if i_customer > 10:
        print('High')
    elif i_customer < 10:
         print('Low')
    else:
         print('Medium')

Low
Medium
High

In [35]:
turple1 = ('John',100,200,300,400,'Mary')
for i in turple1:
    print(i)
#dictionary
electronics_dict = {
    "Brand":['Oraimo','Samsung','Tecno','Vivo'],
    "Earphones":['Oraimo1','Viva','JBL','Sony'],
    "Speaker":['Robot','Bluetooth headset'],
    "Year":[2021,2022,2023]}
for i_key in electronics_dict:
    print(electronics_dict[i_key])

John
100
200
300
400
Mary
['Oraimo', 'Samsung', 'Tecno', 'Vivo']
['Oraimo1', 'Viva', 'JBL', 'Sony']
['Robot', 'Bluetooth headset']
[2021, 2022, 2023]

In [37]:
electronics_dict.items()

dict_items([('Brand', ['Oraimo', 'Samsung', 'Tecno', 'Vivo']), ('Earphones', ['Oraimo1', 'Viva', 'JBL', 'Sony']), ('Speaker', ['Robot', 'Bluetooth headset']), ('Year', [2021, 2022, 2023])])

In [44]:
for i_key, j_values in electronics_dict.items():
    print('This is the' +" "+ i_key +","+ "These are the values:",j_values)

This is the Brand,These are the values: ['Oraimo', 'Samsung', 'Tecno', 'Vivo']
This is the Earphones,These are the values: ['Oraimo1', 'Viva', 'JBL', 'Sony']
This is the Speaker,These are the values: ['Robot', 'Bluetooth headset']
This is the Year,These are the values: [2021, 2022, 2023]

In [47]:
for i_key in electronics_dict:
    for j_valuses in electronics_dict[i_key]:
        print(j_values)

[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]
[2021, 2022, 2023]